<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 class="text-center">{{title}}</h1>

  <div class="container bg-light">

  <form action="#">

    <!--Input type number es más fácil a la hora de aplicar la solución de conversión de tipos en TS-->
    Numero 1: <input type="text" [(ngModel)] = "numero1" name="numero1">
    <br><br>
    Numero 2: <input type="text" [(ngModel)] = "numero2" name="numero2">
    <br><br>

    <div class="container">

    <input type="submit" value="Sumar" (click) = "sumar()" class="btn btn-outline-primary btn-large m-2">
    <input type="submit" value="Restar" (click) = "restar()" class="btn btn-outline-primary btn-large m-2">
    <input type="submit" value="Multiplicar" (click) = "multiplicar()" class="btn btn-outline-primary btn-large m-2">
    <input type="submit" value="Dividir" (click) = "dividir()" class="btn btn-outline-primary btn-large m-2">

    </div>

  </form>

</div>

  <br>
  <br>

  <p class="fs-2 text m-5"> Resultado: {{resultado}} </p>
  
  
</body>
</html>